*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.body {
    background-color: #3b141c;
}

header {
    background-color: #3b141c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 70px;
}

.menu-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    height: 70px;
}

.logo-tex {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}

.lista-menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.logo-navegacion {
    text-decoration: none;
    margin-left: 20px;
}

.link-nav {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease;
}



.link-nav:hover::after {
    width: 100%;
}

.nav-carrito {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease;
    margin-right: 20px;
}

.nav-carrito:hover {
    color: #e2750f;
}

.menu-toggle {
    display: none;
}

.titulo {
    margin-top: 70px;
    background-color: #310f15;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "halant", serif;
    font-size: 3.3rem;
}

.titulo::after {
    content: "";
    display: block;
    width: 145px;
    height: 7px;
    background-color: #e2750f;
    margin: 0px auto 0;
    border-radius: 2px;
}

.targetas {
    background-color: #310f15;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;                             
  justify-items: center;                 
  padding: 40px;
}

.targeta {
    background-color: #310f15;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    transition: 0.3s ease;
    flex: 300px;
    max-width: 300px;
    min-width: 280px;
}

.targeta:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px #3b141c(0,0,0,0.3); 
    border: 2px solid #e2750f;
}

.targeta img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: contain;
    padding: 5px;
}

.targeta h3 {
    font-size: 1.3rem;
    margin: 10px 0;
    color: wheat;
}

.targeta p {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 15px;
}

.boton {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* BOTONES ESTILO UIVERSE PERSONALIZADOS */
.btn {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 3px 25px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #e2750f; /* color de texto (naranja característico) */
  background: transparent;
  cursor: pointer;
  border: 2px solid #e2750f; /* borde naranja */
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #e2750f;
}

.btn:hover {
  color: white; /* texto blanco al pasar el mouse */
  box-shadow: inset 0 -100px 0 0 #e2750f; /* fondo naranja animado */
}

.btn:active {
  transform: scale(0.95); /* pequeño efecto de clic */
}

/*  RESPONSIVE   */
@media (max-width: 1760px) {
  .targetas {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .targetas {
    grid-template-columns: repeat(2, 1fr); 
  }

  .titulo {
    font-size: 2.5rem;
  }
}

@media (max-width: 460px) {
  /* Las tarjetas se colocan en columna */
  .targetas {
    grid-template-columns: 1fr; 
    padding: 20px;
  }

  .targeta {
    width: 90%;
    margin: 0 auto;
  }

  .lista-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #55212c;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 20px;
    padding: 20px 0;
    border-top: 2px solid #e2750f;
  }

  .menu-toggle:checked + .lista-menu {
    display: flex;
  }

  /* Botón hamburguesa visible */
  .hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
  }

  .hamburguer span {
    height: 3px;
    width: 25px;
    background-color: #e2750f;
    margin: 4px 0;
    border-radius: 2px;
    transition: 0.3s;
  }

  
  .nav-carrito {
    margin-right: 10px;
  }

  
  .logo-tex {
    font-size: 1.4rem;
  }


  .link-nav {
    color: #e2750f;
    font-weight: bold;
    font-size: 1rem;
  }

  .link-nav:hover {
    color: white;
  }
}